.loginButton {
	border: 1px solid #df0909;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 111px;
	font-family: arial, helvetica, sans-serif;
	padding: 10px 10px 10px 10px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
	background-color: #f62b2b;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f62b2b),
		color-stop(100%, #d20202) );
	background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
	background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
	background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
	background-image: -o-linear-gradient(top, #f62b2b, #d20202);
	background-image: linear-gradient(top, #f62b2b, #d20202);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#f62b2b, endColorstr=#d20202 );
}

.loginButton:hover {
	border: 1px solid #b30808;
	background-color: #e40a0a;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e40a0a),
		color-stop(100%, #9f0202) );
	background-image: -webkit-linear-gradient(top, #e40a0a, #9f0202);
	background-image: -moz-linear-gradient(top, #e40a0a, #9f0202);
	background-image: -ms-linear-gradient(top, #e40a0a, #9f0202);
	background-image: -o-linear-gradient(top, #e40a0a, #9f0202);
	background-image: linear-gradient(top, #e40a0a, #9f0202);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#e40a0a, endColorstr=#9f0202 );
}

.loginButton:active {
	position: relative;
	top: 2px;
}